.sticky {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.footer {
    bottom: 0;
}
.no-margin {
    margin:0;
} 
#navigation-hamburger {
    vertical-align: middle;
}
a {
    text-decoration: none;
}
.flexbox-container {
    display: flex; 
    width: 100%; 
    flex-wrap: wrap;
}
.flexbox-item {
    margin: 8px;
    width: 30%;
    flex: 1 1 300px;
}
.table-container {
    display: table; 
    border-spacing: 5px; 
    margin: 0 auto;
}
.table-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.table-item-small {
    width: 150px;
    height: 150px;
}
.table-item-large {
    width: 300px;
    height: 300px;
}
.my-slides {
    width: 100%;
    z-index: -1;
}
ul {
    padding-left: inherit;
}
#main-div {
    padding: 100px 10% 100px 10%;
}
.w3-dropdown-content {
    min-width: 0;
}
@media only screen and (max-width: 334px) {
    #navigation-contact {
	display: none;
    }
}
@media only screen and (max-width: 500px) {
    #navigation-logo-image {
	display: none;
    }
}
@media only screen and (max-width: 695px) {
    #navigation-logo-heading {
        display: none;
    }
}
@media only screen and (max-width: 1019px) {
    #navigation-header {
        display: none;
    } 
}
@media only screen and (min-width: 1020px) {
    #navigation-hamburger {
        display: none;
    }
    #navigation-menu {
        display: none!important;
    }
}
