/* general html tags */
a {
    text-decoration: none;
}
ul {
    padding-left: inherit;
}

/* template layouting */
.sticky {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.footer {
    bottom: 0;
}
#navigation-hamburger {
    vertical-align: middle;
}
#main-div {
    padding: 100px 10% 100px 10%;
}

/* flexbox */
.flexbox-container {
    display: flex; 
    width: 100%; 
    flex-wrap: wrap;
}
.flexbox-item {
    margin: 8px;
    width: 30%;
    flex: 1 1 300px;
}

/* tables*/
.table-container {
    display: table; 
    border-spacing: 5px; 
    margin: 0 auto;
}
.table-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* boxes */
.box-item {
    margin: 3%; 
    padding: 25px; 
    display: inline-block; 
    vertical-align: middle;
}
.box-item ul {
    padding-left: 20px;
    text-align: left;
}

/* accordian boxes */
.accordion-box {
    width: 90%; 
    max-width: 500px;
    margin: auto; 
    padding: 16px 0;
}
.accordion-box * {
    text-align: left; 
    margin: 0;
    padding: 12px;
}
.accordion-box :last-child {
    padding-bottom: 0;
}

/* item sizes */
.item-small {
    width: 150px; 
    height: 150px; 
}
.item-medium {
    width: 225px;
    height: 225px;
}
.item-large{ 
    width: 300px; 
    height: 300px; 
}

/* paragraph blocks */
.paragraph-block {
    padding: 16px 0;
}
.paragraph-block h1 {
    font-weight: 500;
}
.paragraph-block *{
    margin: 0;
}

/* general helper classes */
.no-margin {
    margin:0;
} 
.left-padded-div {
    padding-left: 5vw;
}

/* specific element classes */
.my-slides {
    width: 100%;
    z-index: -1;
}
.absolute-position-image {
    position: absolute; 
    right: 0; 
    padding-left: 5vw;
}

/* responsiveness */
@media only screen and (max-width: 334px) {
    #navigation-contact {
	display: none;
    }
}
@media only screen and (max-width: 500px) {
    #navigation-logo-image {
	display: none;
    }
}
@media only screen and (max-width: 600px) {
    .absolute-position-image {
        position: relative;
        padding-left: 0;
    }
    .table-item-small {
        width: 75px;
        height: 75px;
        font-size: 10px;
    }
    .left-padded-div {
    	padding-left: 0;
    }
}
@media only screen and (max-width: 700px) {
    #navigation-logo-heading {
        display: none;
    }
}
@media only screen and (max-width: 1019px) {
    #navigation-header {
        display: none;
    } 
}
@media only screen and (min-width: 1020px) {
    #navigation-hamburger {
        display: none;
    }
    #navigation-menu {
        display: none!important;
    }
}
