.accordion {
    background-color: #7c94cc;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 2px rgb(48, 48, 48) solid;
    margin-top: 10px;
  }
  
  .active, .accordion:hover {
    background-color: #556fa8;
  }

  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: rgb(0, 0, 0);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

  .panel {
    padding: 0 18px;
    width: 80%;
    background-color: rgb(211, 229, 255);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  #login {
      width:20%;
      background-color: rgb(80, 197, 129);
  }

  #login-panel {
      width: 30%;
      background-color: #c1e7c0;
  }

  input {
      width: 80%;
      border: 1.5px gray solid;
      border-radius: 4px;
      margin-bottom: 5px;
  }

  form {
      margin: 5px;
  }

  .sidebar-holder{
      margin-top:30vh;
      margin-right:2.25%;
  }
  .br-sidebar{
    position:sticky;
    top:0;
    height:100vh
  }
  .br-tagline{
    padding-top: 0px;
  }
  @media only screen and (max-width: 850px) {
    .br-sidebar{
      position: static;
      width:100% !important;
      display:block;
      height:104%
    }
    .sidebar-holder{
      margin-top:0%;
      margin-bottom:0%;
    }
  }

  .post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
  }
  a {
    text-decoration: none;
    color: rgb(61, 146, 201);
  }
  a:hover,a:focus {
    text-decoration: underline;
  }
  