.accordion {
    background-color: #7c94cc;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 180%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 2px rgb(48, 48, 48) solid;
    margin-top: 10px;
  }
  
  .active, .accordion:hover {
    background-color: #556fa8;
  }

  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: rgb(0, 0, 0);
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

  .panel {
    padding: 0 18px;
    background-color: rgb(211, 229, 255);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .course-header {
      padding-bottom: 5px;
      border-bottom: 1.5px lightgray solid;
      width: 180%
  }

  .title-header {
      padding-bottom:5px;
      border-bottom:1px gray solid;
  }

  #login {
      width:25%;
      background-color: rgb(80, 197, 129);
  }

  #login-panel {
      width: 35%;
      background-color: #c1e7c0;
  }

  input {
      width: 80%;
      border: 1.5px gray solid;
      border-radius: 4px;
      margin-bottom: 5px;
  }

  form {
      margin: 5px;
  }